# Line Setup Changeover Detection Challenge

This exercise is designed to give you a chance to see the kind of work that you would be doing as an Applications Engineer at Arch.  You've been given a synthesized dataset that corresponds to data over several days from electronics assembly machines called "Pick and Place" machines.  The synthetic data you've been given is designed to mimic the data that is produced by ASM P&P Machine.

For context, in a factory of SMT lines, there are an arbitrary number of Pick and Place machines that are in a sequential line. Each machine is assigned a Station ID. There are some times where a customer may move a machine to a diferent location. 

As part of the ASM protocol, the machines are all produce heartbeats that determines what machines are online.

If you want you can read more about ASM PNP machines, [on their website](https://www.asm-smt.com/en/).  **Note:** There is no need to be familiar with this specific brand of P&P machine, or even P&P machines in general.  The link was just provided in case you're interested in learning more.

## Goal

The goal of this challenge is to query the provided SQL database, which is running in docker using Apache Drill to determine:

- The current machines assigned for each line
- Which machine is no longer assigned
- Which machine replace the unused machine.


### Expected Outcome and How To Return Your Solution

The expected outcome is that this Jupyter notebook is filled in with **working python code** that:

- gets the required data from the parquet file into a Pandas DataFrame
- operates on the Pandas DataFrame to extract the needed information
- prints the solution.

Once you've completed the notebook, render it as HTML so it can be viewed easily and return **both the html rendered notebook and the .ipynb notebook file itself** in a zip folder by email.  The notebook should have both the inputs and output cells visible so its clear what commands you ran and what the result was.

In [1]:
import pandas as pd

## Configurable Settings

Enter the path to where you saved the parquet data file here.  The following cells validate that the data was loaded correctly.  You should see 129948 rows.

In [4]:
DATAFILE_PATH = 'datasets/factory_asm_1week_acme_2022_11_07.snappy.parquet'
raw_data = pd.read_parquet(DATAFILE_PATH)

In [5]:
raw_data.iloc[0].T

monitoringservicesendtime    2022-11-06T16:32:35.3242268Z
linefullpath                                System\LINE_5
linename                                           LINE_5
machineid                                         16067.0
stationfullpath                    System\LINE5\O5M1_X4is
stationid                                           16067
stationname                                     O5M1_X4is
stationorder                                            1
typename                                    SIPLACE X4i S
Name: 0, dtype: object

In [167]:
len(raw_data)

129948

# Your Solution

Please **fill in your solution** below in the next cell, leaving any cells that are relevant to understanding how you calculated your result.  The final cell should be a printed Pandas DataFrame as shown in the example.

## Understanding the Data

Everything you need to know in order to solve this challenge can be found in the data itself or the hints and links provided in this description.



The dataset you have been given is structured as follows:

- each row is a heartbeat eventlog produced by each machine every 5 minutes.  
- There are multiple machines per line.
- each row is a complex nested object containing rich data on how this machine is configured
- some of the information is not needed.  However, there are a few key data fields inside the array that are relevant:
   - `monitoringservicesendtime`: The ISO8601 timestamp as a string of when this machine finished producing this board
   - `linefullpath`: a stable identifier for the factory line that contains the machine that generated this data
   - `linename`: abbreviated name for the line
   - `stationfullpath`: a stable identifier (globally unique) for the specific machine that generated this data
   - `stationname`: abbreviated name for the machine
   - `stationid`: serial number assosciated with the machine
   - `stationorder`: which order the machine lies in the line.

In [168]:
## Fill in your implementation here.

In [10]:
raw_data

,monitoringservicesendtime,linefullpath,linename,machineid,stationfullpath,stationid,stationname,stationorder,typename
0,2022-11-06T16:32:35.3242268Z,System\LINE_5,LINE_5,16067.0,System\LINE5\O5M1_X4is,16067,O5M1_X4is,1,SIPLACE X4i S
1,2022-11-06T16:32:35.3242268Z,System\LINE_5,LINE_5,10000068.0,System\LINE5\O5M2_D4,10000068,O5M2_D4,2,SIPLACE D4
2,2022-11-06T16:32:35.3242268Z,System\LINE_5,LINE_5,13942.0,System\LINE5\O5M3_X4is,13942,O5M3_X4is,3,SIPLACE X4i S
3,2022-11-06T16:32:35.3242268Z,System\LINE_5,LINE_5,26.0,System\LINE5\O5M4_D1,26,O5M4_D1,4,SIPLACE D1
4,2022-11-06T16:32:35.3242268Z,System\LINE_8,LINE_8,4885.0,System\LINE8\O8M1_X4,4885,O8M1_X4,1,SIPLACE X4
...,...,...,...,...,...,...,...,...,...
129943,2022-11-12T06:26:01.6368476Z,System\LINE_2,LINE_2,202.0,System\LINE2\O2M1_D4,202,O2M1_D4,1,SIPLACE D4
129944,2022-11-12T06:26:01.6368476Z,System\LINE_2,LINE_2,2560.0,System\LINE2\O2M2_D1,2560,O2M2_D1,2,SIPLACE D1
129945,2022-11-12T06:26:01.6368476Z,System\LINE_2,LINE_2,10002712.0,System\LINE2\O2M3_D1,10002712,O2M3_D1,3,SIPLACE D1
129946,2022-11-12T06:26:01.6368476Z,System\LINE_4,LINE_4,5899.0,System\LINE4\O4M1_X4i,5899,O4M1_X4i,1,SIPLACE X4I
129947,2022-11-12T06:26:01.6368476Z,System\LINE_4,LINE_4,2651.0,System\LINE4\O4M2_X4,2651,O4M2_X4,2,SIPLACE X4

In [11]:
raw_data.isnull().sum()

monitoringservicesendtime       0
linefullpath                    0
linename                        0
machineid                    1584
stationfullpath                 0
stationid                       0
stationname                     0
stationorder                    0
typename                        0
dtype: int64